/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
html, body {
	height: 100%; 
	overflow-x: hidden;
}
body {
	margin: auto;
	padding: 0;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: #444;
}
a {
	color: #3273dc;
}
nav a {
	margin-right: 10px;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
content {
	line-height: 1.6;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
code {
	padding: 2px 5px;
	background-color: #f2f2f2;
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}
blockquote {
	border: 1px solid #999;
	color: #222;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}

/*-- Color Variables */

:root {
	--color-mint: #F3FAF6;
	--color-forest: #002D13;
}

/*-- Layout */

body {
	font-family: "Manrope", sans-serif;
	background-color: var(--color-mint);
	color: var(--color-forest);

	justify-content: center;
	flex-direction: column;
}

main {
	width: auto;
	margin: 0 20px;
}

/*-- Type */

h1 {
	font-size: 28px;
	line-height: 1.1em;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 3px;
}
	h1 span {
		display: block;
		font-size:50%;
		margin-top: 8px;
		letter-spacing: 2px;
	}
	
@media (min-width:1200px) {
	h1 {
		font-size: 38px;
		letter-spacing: 4px;
	}
		h1 span {
			float: right;
			margin-top: 2px;
		}
}

h2 {
	font-size: 40px;
	margin: 0 0 10px;
}

h2, h3, .big-type {
	font-family: "DM Serif Display", serif;
}

p {
	font-size: 18px;
	letter-spacing: 0.5px;
	margin: 0 0 20px;
}

a {
	color: var(--color-forest);
	border-bottom: 2px solid #D0ECDC;
	text-decoration: none;
}
a:hover {
	background-color: #D0ECDC;
}


/* -- Book Styles to Inline */

.book {
    display:flex;
	align-items: center;
	margin-bottom: 40px;
	gap: 20px;
}
.book img {
    width: 150px;
}

@media (max-width:600px) {
	.book {
		flex-direction: column;
		align-items: flex-start;
	}	
	.book img {
		width: 100px;
	}
}

.book ol {
	list-style-position: inside;
	margin: 0;
	padding: 0;
}
.book ol p {
	display: inline;
}
.book ol p:last-child {
	display: block;
	margin: 10px 0 0;
}
.book strong,
.book li::marker {
	font-family: "DM Serif Display", serif;
	font-size: 30px;
	line-height: 35px;
}