---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<p class="big-type">Josiah Katz</p>
		<main>
			<h1>Josiah Katz, VP of Design & Media <span>York, PA</span></h1>
			<p>As the head of the creative teams at <a href="https://www.webstaurantstore.com" target="_blank">WebstaurantStore</a>, I'm responsible for leading a team of ~150 people who handle our user experiences, front-end development, graphic design, photography, and videography.</p>
			
			<p>We market, brand, design and build the software, physical products and digital assets our customers and coworkers use every day. Admire our team's <a href="https://www.instagram.com/webstaurantdesign" target="_blank">product & graphic design</a>, <a href="https://www.instagram.com/webstaurantstore/">photography</a> and <a href="https://www.youtube.com/webstaurantstore" target="_blank">videos</a> with these handy links.</p>
		</main>
		<Footer />
	</body>
</html>
<style>
	/*-- Body - Custom Homepage Flexbox */

	@media (min-width:600px) {
		body {
			display: flex;
			align-items: center;
		}
		main {
			width:80%;
			margin: 0 auto;
		}
	}
	/*-- Big Type */
	.big-type {
		font-size: 40vw;
		line-height: 28vw;
		letter-spacing: -0.5vw;	
		word-wrap: normal;
		margin: 0 -3vw 0;
	}
		@media (min-width:600px) {
			.big-type {
				font-size: 22vw;
				line-height: 18vw;
				margin: -3vw -3vw 0;
			}
		}
		p {
			font-size: 20px;
		}
</style>
