---
const today = new Date();
---

<footer>
	<!-- &copy; {today.getFullYear()} YOUR NAME HERE. All rights reserved. -->
	<nav>
		<a href="https://instagram.com/josiahkatz" target="_blank">Instagram</a>
		<a href="https://mas.to/@josiahkatz" target="_blank">Mastodon</a>
		<a href="https://www.last.fm/user/josiahkatz" target="_blank">Last.fm</a>
		<a href="https://www.linkedin.com/in/josiahkatz" target="_blank">LinkedIn</a>
		<a href="https://twitter.com/josiahkatz" target="_blank">Twitter</a>
		<a href="https://youtube.com/josiahkatz" target="_blank">YouTube</a>
	</nav>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
