---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---

<header>
	<!-- <p>
		{SITE_TITLE}
	</p> -->
	<nav>
		<HeaderLink class={"name"} href="/">Josiah Katz</HeaderLink>
		<HeaderLink href="/blog/books-i-read-in-2022">2022 Books</HeaderLink>
		<HeaderLink href="/todo">Todo</HeaderLink>
	</nav>
</header>
<style>
	header {
		display: flex;
		position: relative;
		justify-content: center;
		z-index: 1;
		font-weight: 800;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin: 20px 0;
	}
	.name.active {
		display: none;
	}
</style>
